name: Build

on:
  - push
  - pull_request

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    name: Build
    uses: SanctumLabs/ci-workflows/.github/workflows/rust-build.yml@main
